<form class="loot-tokens-dialog">
  <section class="token-selection">
    <h4>{{localize "WOR.Loot.SelectTokensToLoot"}}</h4>
    <p class="hint">{{localize "WOR.Loot.SelectTokensHint"}}</p>
    <ul class="token-list">
      {{#each tokens}}
      <li class="token-row">
        <label>
          <input type="checkbox" name="token" value="{{id}}" checked />
          <img src="{{img}}" alt="{{name}}" class="token-img" />
          <span class="token-name">{{name}}</span>
          <span class="item-count">({{itemCount}} {{localize "WOR.Loot.Items"}})</span>
        </label>
      </li>
      {{/each}}
    </ul>
  </section>
</form>
