<form class="loot-sheet-form {{#if isMerchantMode}}merchant-mode{{else}}loot-mode{{/if}}">
  {{!-- Header Section --}}
  <header class="loot-header">
    <div class="portrait-container">
      <img class="portrait" src="{{portraitImg}}" alt="{{actor.name}}" data-action="editPortrait" title="{{localize 'WOR.Common.ChangeImage'}}" />
    </div>
    <div class="header-content">
      <div class="name-row">
        <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'WOR.Common.Name'}}" />
      </div>
      <div class="mode-toggle">
        <button type="button" class="mode-button {{#if isLootMode}}active{{/if}}" data-action="toggleSheetType" title="{{localize 'WOR.Loot.ToggleMode'}}">
          {{#if isLootMode}}
            <i class="fas fa-treasure-chest"></i> {{localize "WOR.Loot.SheetType.loot"}}
          {{else}}
            <i class="fas fa-store"></i> {{localize "WOR.Loot.SheetType.merchant"}}
          {{/if}}
        </button>
      </div>
    </div>
  </header>

  {{!-- Currency Bar --}}
  <section class="currency-bar">
    <div class="currency-group sovereigns" title="{{localize 'WOR.Wealth.Sovereigns'}}">
      <i class="fas fa-coins currency-icon"></i>
      <input type="number" name="system.wealth.sovereigns" value="{{wealth.sovereigns}}" min="0" {{#unless isEditable}}disabled{{/unless}} />
      <span class="currency-label">{{localize "WOR.Wealth.Sovereigns"}}</span>
    </div>
    <div class="currency-group crowns" title="{{localize 'WOR.Wealth.Crowns'}}">
      <i class="fas fa-coins currency-icon"></i>
      <input type="number" name="system.wealth.crowns" value="{{wealth.crowns}}" min="0" {{#unless isEditable}}disabled{{/unless}} />
      <span class="currency-label">{{localize "WOR.Wealth.Crowns"}}</span>
    </div>
    <div class="currency-group orin" title="{{localize 'WOR.Wealth.Orin'}}">
      <i class="fas fa-coins currency-icon"></i>
      <input type="number" name="system.wealth.orin" value="{{wealth.orin}}" min="0" {{#unless isEditable}}disabled{{/unless}} />
      <span class="currency-label">{{localize "WOR.Wealth.Orin"}}</span>
    </div>
    <div class="currency-total">
      <span class="total-label">{{localize "WOR.Loot.TotalValue"}}:</span>
      <span class="total-value">{{totalValue}} {{localize "WOR.Wealth.Orin"}}</span>
    </div>
  </section>

  {{!-- GM Actions (Loot Mode Only) --}}
  {{#if isGM}}
  {{#if isLootMode}}
  <section class="loot-actions">
    <button type="button" class="action-button split-coins" data-action="splitCoins" {{#unless hasWealth}}disabled{{/unless}}>
      <i class="fas fa-coins"></i> {{localize "WOR.Loot.SplitCoins"}}
    </button>
    <button type="button" class="action-button loot-tokens" data-action="lootTokens">
      <i class="fas fa-hand-holding"></i> {{localize "WOR.Loot.LootTokens"}}
    </button>
  </section>
  {{/if}}
  {{/if}}

  {{!-- Merchant Settings (Merchant Mode Only) --}}
  {{#if isMerchantMode}}
  {{#if isGM}}
  <section class="merchant-settings">
    <label class="setting-row">
      <span>{{localize "WOR.Loot.PriceModifier"}}:</span>
      <input type="number" name="system.priceModifier" value="{{priceModifier}}" min="0" max="500" />
      <span class="percent-sign">%</span>
    </label>
  </section>
  {{/if}}
  {{/if}}

  {{!-- Inventory Section --}}
  <section class="loot-inventory">
    {{#if hasItems}}
      {{!-- Weapons --}}
      {{#if items.weapons.length}}
      <div class="inventory-section weapons-section">
        <h3 class="section-header">
          <i class="fas fa-sword"></i> {{localize "WOR.ItemType.Weapon"}}
        </h3>
        <ul class="item-list">
          {{#each items.weapons}}
          <li class="item" data-item-id="{{id}}">
            <img class="item-img" src="{{img}}" alt="{{name}}" />
            <span class="item-name">{{name}}</span>
            <span class="item-value">
              {{#if ../isMerchantMode}}
                {{modifiedPrice}} {{localize "WOR.Wealth.Orin"}}
              {{else}}
                {{value}} {{localize "WOR.Wealth.Orin"}}
              {{/if}}
            </span>
            <div class="item-controls">
              {{#if ../isMerchantMode}}
                {{#unless ../isGM}}
                <button type="button" class="item-control purchase" data-action="purchaseItem" title="{{localize 'WOR.Loot.Purchase'}}">
                  <i class="fas fa-coins"></i>
                </button>
                {{/unless}}
              {{else}}
                {{#unless ../isGM}}
                <button type="button" class="item-control take" data-action="takeItem" title="{{localize 'WOR.Loot.Take'}}">
                  <i class="fas fa-hand-holding"></i>
                </button>
                {{/unless}}
              {{/if}}
              {{#if ../isGM}}
              <a class="item-control edit" data-action="editItem" title="{{localize 'WOR.Common.Edit'}}">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control delete" data-action="deleteItem" title="{{localize 'WOR.Common.Delete'}}">
                <i class="fas fa-trash"></i>
              </a>
              {{/if}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

      {{!-- Armor --}}
      {{#if items.armor.length}}
      <div class="inventory-section armor-section">
        <h3 class="section-header">
          <i class="fas fa-shield"></i> {{localize "WOR.ItemType.Armor"}}
        </h3>
        <ul class="item-list">
          {{#each items.armor}}
          <li class="item" data-item-id="{{id}}">
            <img class="item-img" src="{{img}}" alt="{{name}}" />
            <span class="item-name">{{name}}</span>
            <span class="item-value">
              {{#if ../isMerchantMode}}
                {{modifiedPrice}} {{localize "WOR.Wealth.Orin"}}
              {{else}}
                {{value}} {{localize "WOR.Wealth.Orin"}}
              {{/if}}
            </span>
            <div class="item-controls">
              {{#if ../isMerchantMode}}
                {{#unless ../isGM}}
                <button type="button" class="item-control purchase" data-action="purchaseItem" title="{{localize 'WOR.Loot.Purchase'}}">
                  <i class="fas fa-coins"></i>
                </button>
                {{/unless}}
              {{else}}
                {{#unless ../isGM}}
                <button type="button" class="item-control take" data-action="takeItem" title="{{localize 'WOR.Loot.Take'}}">
                  <i class="fas fa-hand-holding"></i>
                </button>
                {{/unless}}
              {{/if}}
              {{#if ../isGM}}
              <a class="item-control edit" data-action="editItem" title="{{localize 'WOR.Common.Edit'}}">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control delete" data-action="deleteItem" title="{{localize 'WOR.Common.Delete'}}">
                <i class="fas fa-trash"></i>
              </a>
              {{/if}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

      {{!-- Gear --}}
      {{#if items.gear.length}}
      <div class="inventory-section gear-section">
        <h3 class="section-header">
          <i class="fas fa-sack"></i> {{localize "WOR.ItemType.Gear"}}
        </h3>
        <ul class="item-list">
          {{#each items.gear}}
          <li class="item" data-item-id="{{id}}">
            <img class="item-img" src="{{img}}" alt="{{name}}" />
            <span class="item-name">{{name}}</span>
            <span class="item-quantity">
              {{#if ../isGM}}
              <button type="button" class="qty-btn" data-action="adjustQuantity" data-adjust="-1">-</button>
              {{/if}}
              <span class="qty-value">x{{quantity}}</span>
              {{#if ../isGM}}
              <button type="button" class="qty-btn" data-action="adjustQuantity" data-adjust="1">+</button>
              {{/if}}
            </span>
            <span class="item-value">
              {{#if ../isMerchantMode}}
                {{totalModifiedPrice}} {{localize "WOR.Wealth.Orin"}}
              {{else}}
                {{totalValue}} {{localize "WOR.Wealth.Orin"}}
              {{/if}}
            </span>
            <div class="item-controls">
              {{#if ../isMerchantMode}}
                {{#unless ../isGM}}
                <button type="button" class="item-control purchase" data-action="purchaseItem" title="{{localize 'WOR.Loot.Purchase'}}">
                  <i class="fas fa-coins"></i>
                </button>
                {{/unless}}
              {{else}}
                {{#unless ../isGM}}
                <button type="button" class="item-control take" data-action="takeItem" title="{{localize 'WOR.Loot.Take'}}">
                  <i class="fas fa-hand-holding"></i>
                </button>
                {{/unless}}
              {{/if}}
              {{#if ../isGM}}
              <a class="item-control edit" data-action="editItem" title="{{localize 'WOR.Common.Edit'}}">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control delete" data-action="deleteItem" title="{{localize 'WOR.Common.Delete'}}">
                <i class="fas fa-trash"></i>
              </a>
              {{/if}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    {{else}}
      <div class="empty-inventory">
        <i class="fas fa-box-open"></i>
        <p>{{localize "WOR.Loot.EmptyInventory"}}</p>
        {{#if isGM}}
        <p class="hint">{{localize "WOR.Loot.DragItemsHint"}}</p>
        {{/if}}
      </div>
    {{/if}}
  </section>

  {{!-- Settings Footer --}}
  {{#if isGM}}
  <footer class="loot-footer">
    <label class="setting-checkbox">
      <input type="checkbox" name="system.hiddenWhenEmpty" {{#if hiddenWhenEmpty}}checked{{/if}} />
      <span>{{localize "WOR.Loot.HiddenWhenEmpty"}}</span>
    </label>
  </footer>
  {{/if}}
</form>
