<div class="wor zeal-notification">
  {{!-- Header --}}
  <div class="notification-header">
    <i class="fas fa-fire"></i>
    <h4 class="notification-title">{{localize "WOR.Zeal.Spent"}}</h4>
    <span class="actor-name">{{actor.name}}</span>
  </div>

  {{!-- Zeal Info --}}
  <div class="zeal-info">
    <span class="zeal-spent">
      {{#if spent}}
      -{{spent}} {{localize "WOR.Zeal.label"}}
      {{else if gained}}
      +{{gained}} {{localize "WOR.Zeal.label"}}
      {{/if}}
    </span>
    <span class="zeal-remaining">
      {{localize "WOR.Zeal.Remaining"}}: <span class="value">{{remaining}}/{{max}}</span>
    </span>
  </div>

  {{!-- Effect Description --}}
  {{#if effect}}
  <div class="zeal-effect">
    {{#if effect.difficultyShift}}
    <i class="fas fa-arrow-down"></i> {{localize "WOR.Zeal.DifficultyShiftDesc"}}
    {{/if}}
    {{#if effect.bonusDice}}
    <i class="fas fa-dice"></i> {{localize "WOR.Zeal.BonusDiceDesc"}}
    {{/if}}
    {{#if effect.reroll}}
    <i class="fas fa-redo"></i> {{localize "WOR.Zeal.RerollDesc"}}
    {{/if}}
    {{#if effect.autoSuccess}}
    <i class="fas fa-star"></i> {{localize "WOR.Zeal.AutoSuccessDesc"}}
    {{/if}}
    {{#if effect.zeroPool}}
    <i class="fas fa-dice-one"></i> {{localize "WOR.Zeal.ZeroPoolDesc"}}
    {{/if}}
    {{#if effect.passion}}
    <i class="fas fa-heart"></i> {{effect.passion}}
    {{/if}}
  </div>
  {{/if}}
</div>
