{{!-- Character Creation Wizard Footer --}}
<footer class="creation-footer">
  <div class="footer-info">
    <span class="step-info">
      {{localize "WOR.CharacterCreation.StepLabel"}} {{add currentStep 1}} {{localize "WOR.Common.Of"}} 10
    </span>
  </div>

  <div class="footer-actions">
    {{#if (gt currentStep 0)}}
    <button type="button" class="back-btn" data-action="previousStep">
      <i class="fas fa-arrow-left"></i>
      {{localize "WOR.CharacterCreation.PreviousStep"}}
    </button>
    {{/if}}

    {{#if isFinalStep}}
    <button type="button" class="finalize-btn" data-action="finalize" {{#unless canProceed}}disabled{{/unless}}>
      <i class="fas fa-check-circle"></i>
      {{localize "WOR.CharacterCreation.CreateCharacter"}}
    </button>
    {{else}}
    <button type="button" class="next-btn" data-action="nextStep" {{#unless canProceed}}disabled{{/unless}}>
      {{localize "WOR.CharacterCreation.NextStep"}}
      <i class="fas fa-arrow-right"></i>
    </button>
    {{/if}}
  </div>
</footer>
